DB_HOST=localhost
DB_PORT=5432
DB_NAME=notify_db
DB_USER=notify_user
DB_PASSWORD=notify_pass
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_EVENTS_RAW=events.raw
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=development
